:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  --main-color: #6ED5E5;
  --main-gradient: linear-gradient(to right top, #6ED5E5, #266A75);
  --second-text-color: #B3B3B3;
  --background-color: #111111;
  --width-max: 1260px;
  --header-font-size: clamp(20px, 4vw, 40px);
}

html,
body {
   margin: 0;
   padding: 0;
   width: 100vw;
   overflow-x: hidden;
}