.gallery {
    position: relative;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.track {
    position: relative;
    overflow: scroll;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image-track {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: scroll;
    height: 80%;
    top: 5%;
}

.image {
    height: 70%;
    object-fit: cover; 
    transition: 1s;
    object-position: center;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: 1s;
    margin: 0 2px;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-swipe {
    background-color: aqua;
    position: relative;
    height: 15%;
}

.arrow {
    max-width: 30%;
}

@media(hover: hover) and (pointer: fine) {
    .box:hover { flex: 1 1 5%; }

    .box:hover > .image {
        height: 100%;
    }
    
    .box:not(:hover) > .image {
        height: 70%;
    }
}

@media (max-width: 480px) {
    .track {
        height: 100%;
    }

    .image-track {
        height: 90%;
    }
    
    .image {
        height: 85%;
    }
    
    .box {
        height: 100%;
    }

    .gallery {
        height: 80vh;
        background-size: contain;
        background-position: no-repeat;
    }
}
