.gallery {
    height: auto;
}

.gallery-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 40px 20px 0 20px;
}

.gallery-container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.image {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 769px) {

.gallery-container .box {
        flex-direction: column;
    }


.gallery-container .box .dream {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}