* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/background/bg7.jpg);
    background-size: cover;
    z-index: -4;
}

section {
    height: 100vh;
}

.container {
    height: 100vh;
    position: relative;
}

.main {
    transform-origin: center;
    min-height: 100vh;
    background-image: url('../images/background/desktop_3.jpg');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center;
    position: relative;
}

.anirameen {
    max-width: 55vmin;
    position: absolute;
    top: 80%;
    left: 10%;
}

.brief {
    display:inline-block;
    position: absolute;
    padding: 10px;
    color: rgb(255, 255, 255);
    top: 70%;
    left: 65%;
}

.brief p {
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.social {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 80%;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.social-icon {
    width: 18px;
}

.footer {
    font-family: 'Comfortaa', cursive;
    height: 100px;
    width: 100%;
    color: whitesmoke;
    padding: 15px;
}

.contacts {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-2 {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-icon-2 {
    width: 35px;
}

.anirameen-design {
    color: whitesmoke;
    font-size: 10px;
}

@media (orientation: portrait) {
    .brief {
        display:inline-block;
        position: absolute;
        padding: 10px;
        color: rgb(255, 255, 255);
        top: 75%;
        left: 25%;
    }

    .brief p {
        font-size: 20px;
    }

    .anirameen {
        max-width: 50vmin;
        position: absolute;
        top: 8%;
        left: 7%;
    }

    .social {
        left: 85%;
        flex-wrap: wrap;
    }

    .social-icon {
        width: 18px;
    }
}

@media (max-width: 480px) {
    .main {
        background-image: url('../images/background/smartphone_2.jpg');
        background-size: cover;
    }

    .social {
        display: none;
        top: 90%;
        left: 0%;
        right: 0%;
        flex-direction: row;
    }

    .social-icon {
        width: 40%;
        margin: 20px;
    }

    .anirameen {
        max-width: 70vmin;
        position: absolute;
        top: 10%;
        left: 15%;
    }

    .brief {
        display:inline-block;
        position: absolute;
        padding: 10px;
        color: rgb(255, 255, 255);
        top: 80%;
        left: 15%;
    }

    .brief p {
        font-size: 18px;
    }

    .contacts {
        flex-direction: column;
        font-size: 15px;
    }

    .social-2 {
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .social-icon-2 {
        width: 25px;
    }
}