* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../images/background/bg7.jpg);
    background-size: cover;
    z-index: -4;
}

section {
    height: 100vh;
}

.container {
    height: 100vh;
    position: relative;
}

.main {
    transform-origin: center;
    min-height: 100vh;
    background-image: url('../images/background/desktop_3.jpg');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center;
    position: relative;
}

.anirameen {
    max-width: 40vmin;
    position: absolute;
    top: 80%;
    left: 15%;
}

.brief {
    display:inline-block;
    position: absolute;
    padding: 10px;
    color: rgb(255, 255, 255);
    top: 70%;
    left: 65%;
}

.brief p {
    font-family: 'Comfortaa', cursive;
}

.social {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 30%;
    margin: 20px;
}

.footer {
    height: 0;
}

/* @media (orientation: landscape) {
    section {
        scroll-snap-align: start;
    }

    .container {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
}

@media (min-width: 481px) and (max-width: 850px) {
    .main {
        background-image: url('../images/background/box.png');
        background-size: cover;
        background-position: center;
    }

    .social {
        left: 85%;
    }

    .social-icon {
        width: 40%;
        margin: 20px;
    }
} */

@media(hover: hover) and (pointer: fine) {
    section {
        scroll-snap-align: start;
    }

    .container {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
}

@media (orientation: portrait) {
    .brief {
        display:inline-block;
        position: absolute;
        padding: 10px;
        color: rgb(255, 255, 255);
        top: 70%;
        left: 50%;
    }

    .brief p {
        font-size: 15px;
    }

    .anirameen {
        max-width: 40vmin;
        position: absolute;
        top: 15%;
        left: 10%;
    }
}

@media (max-width: 480px) {
    .main {
        background-image: url('../images/background/smartphone_2.jpg');
        background-size: cover;
    }

    .social {
        top: 90%;
        left: 0%;
        right: 0%;
        flex-direction: row;
    }

    .social-icon {
        width: 40%;
        margin: 20px;
    }

    .anirameen {
        max-width: 40vmin;
        position: absolute;
        top: 15%;
        left: 15%;
    }

    .brief {
        display:inline-block;
        position: absolute;
        padding: 10px;
        color: rgb(255, 255, 255);
        top: 70%;
        left: 30%;
    }
}